-# -*- encoding : utf-8 -*-
:css
  table {
    border: 0px;
    width: 100%;
    margin-top: -30px;
    width: 850px;
    border-spacing: 30px
  }
  td {
    width: 50%;
  }
  p {
    line-height: 20px;
  }
  p:first-letter {
    margin-left: 15px;
  }

%h1 Dicionário PT-EO / EO-PT

%table
  %tr
    %td{:style => 'width: 50%'}
      %p Esta é uma página provisória para o futuro Dicionário Túlio Flores <u>com busca otimizada</u>.
      %p Aos interessados tecnológicos, será feito com Ruby e MongoDB (banco NoSQL), e hospedado free no Heroku.
    %td{:style => 'width: 50%'}
      %p Tiu estas portempa paĝo por la estonteco Vortaro PT-EO/EO-PT <u>kun optimizada serĉo</u>.
      %p Tiuj interesataj en teknologio, estos farita kun Ruby kaj MongoDB (NoSQL datumbazo), kaj loĝigita en Heroku senpage.

%p
  Por
  %a{:href => 'http://www.igorsantos.com.br'}Igor Santos
  \- Código no
  %a{:href => 'https://github.com/igorsantos07/VortaroPT'}GitHub